<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
<%- include('./partials/nav') %>

<h1>This is homepage</h1>
</body>
<%- include('./partials/footer') %>

</html>